.main__personajes {
    max-width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

.personajes__container {
    width: 1367px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__personajes__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
    width: 100%;

    .input__personajes__container {
        width: 50%;
        position: relative; 

        .input__personajes__icon {
            position: absolute; 
            left: 0; 
            top: 50%; 
            transform: translateY(-50%); 
            pointer-events: none; 
        }

        .input__personajes__bottom-border {
            width: 100%;
            background-color: black;
            border: none;
            color: white;
            border-bottom: 1px solid white;
            padding-left: 30px; 
            font-size: 20px;

            &:focus {
                outline: none;
                box-shadow: none;
                border-color: white;
            }
        }
    }

}

.flags__personajes {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;

    .home__personajes__icon {
        width: 45px;
        height: auto;
    }
}

.cards__personajes__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card__personajes__container {
        width: 248px;
        height: 320px;
        overflow: hidden;
        margin: 1rem 0;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .overlay {
            margin: 0;
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5);
            /* Black see-through */
            color: #f1f1f1;
            width: 248px;
            transition: .5s ease;
            opacity: 0;
            color: white;
            font-size: 20px;
            padding: 20px 0;
            text-align: center;
        }

        &:hover .overlay {
            opacity: 1;
        }
    }

}

.personajes__footer {
    flex-shrink: 0;
    margin: 4rem 0;

    .personajes__nav {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        width: 1367px;

        .link {
            text-decoration: none;
            color: white;
            font-size: 36px;
        }
    }
}